<a href="https://colab.research.google.com/github/pulkit089/Python-/blob/main/Copy_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# work done by me
''' My name is Pulkit Rana, ans m from Himachal Pradesh Distt kangra
and himachal is also called The Land of God
I have Many friends There
i Love Python, Python is a Widely used
Language and used in every kind of technology'''
print("helloworld")

helloworld

In [ ]:
print("              RESTAURANT MENUE")
print("")
print("              STARTER")
print("")
print("Greek Salad=             $15")
print("Finger Chips=            $18")
print("Paneer Cruspy=           $10")
print("Paneer Chilly=           $15")
print("Chicken Wings=           $20")
print("Caesar Salad=            $17")
print()
print("")
print("             MAIN COURSE")
print("")
print("Chicken Tandoori=        $20")
print("Chicken Tikka=           $25")
print("Grilled Meatballs=       $30")
print("Lamb Steak=              $26")
print("Asian Chicken=           $30")
print("Lemon Chicken=           $28")
print("Malai Kofta=             $25")
print("")
print("            APPETIZERS")
print("")
print("Garlic Flatbread=        $30")
print("Tuna Tartaae=            $25")
print("Garlic Bread=            $32")
print("Cheese Fries=            $33")
print("Chicken Fingures=        $35")
print("Hotdog Sandwich=         $40")
print("Fish and Chips=          $45")
print("")
print("            DRINKS")
print("")
print("Coca-Cola Light=         $10")
print("Beer=                    $12")
print("Arabica Cafe=            $15")
print("Fresh Lemonade=          $20")
print("Cold Coffee=             $18")
print("")
print("            SALAD AND SOUPS")
print("")
print("Macaroni Soup=           $15")
print("Tex mex chilli=          $20")
print("Calamari=                $16")
print("Beef Taco=               $15")
print("Wonton Soup=             $20")

              RESTAURANT MENUE

              STARTER

Greek Salad=             $15
Finger Chips=            $18
Paneer Cruspy=           $10
Paneer Chilly=           $15
Chicken Wings=           $20
Caesar Salad=            $17

             MAIN COURSE

Chicken Tandoori=        $20
Chicken Tikka=           $25
Grilled Meatballs=       $30
Lamb Steak=              $26
Asian Chicken=           $30
Lemon Chicken=           $28
Malai Kofta=             $25

            APPETIZERS

Garlic Flatbread=        $30
Tuna Tartaae=            $25
Garlic Bread=            $32
Cheese Fries=            $33
Chicken Fingures=        $35
Hotdog Sandwich=         $40
Fish and Chips=          $45

            DRINKS

Coca-Cola Light=         $10
Beer=                    $12
Arabica Cafe=            $15
Fresh Lemonade=          $20
Cold Coffee=             $18

            SALAD AND SOUPS

Macaroni Soup=           $15
Tex mex chilli=          $20
Calamari=                $16
Beef Taco=               $15
Wonton Soup=             $20

In [ ]:

print("My name is Pulkit Rana")
print("My Age is 23")

My name is Pulkit Rana
My Age is 23

In [ ]:
my_name= "Pulkit RRana"
myage="23"
phoneno="8091700386"
print("                                   PERSONAL DETAILS")
print("Name", my_name)
print("Age" , myage)
print("Time of birth= 6:12 PM")
print("Place of birth= Dehra Gopipur")
print("Email=023pulkitrana@gmail.com")
print("Mobuile No" , phoneno)


print("                                  EDUCATION QUALIFICATION      ")
print("school= GAV Public School Kangra")
print("State= Himachal Pradesh")
print("College= DAV College Kangra")
print("Stream in school= Commerce")
print("Degree= Bachelors in commerce")
print("Course= Data Scientiest")

print("                                  FAMILY DETAILS     ")
print("Mother's Name= Babita Thakur")
print("Father's Name= Shubhkaran Thakur")
print("siblings=N/A")
print("Address= VPO Jarot Teh Jawali Distt. Kangra Himachal Pradesh")
print("")

                                   PERSONAL DETAILS
Name Pulkit RRana
Age 23
Time of birth= 6:12 PM
Place of birth= Dehra Gopipur
Email=023pulkitrana@gmail.com
Mobuile No 8091700386
                                  EDUCATION QUALIFICATION
school= GAV Public School Kangra
State= Himachal Pradesh
College= DAV College Kangra
Stream in school= Commerce
Degree= Bachelors in commerce
Course= Data Scientiest
                                  FAMILY DETAILS
Mother's Name= Babita Thakur
Father's Name= Shubhkaran Thakur
siblings=N/A
Address= VPO Jarot Teh Jawali Distt. Kangra Himachal Pradesh

In [ ]:
a=10
print("I am trying to put the  of a", a)
b=5.2
print("Python is difficult" , b)
c="pulkit rana "
print("The value of C is" , c)

I am trying to put the  of a 10
Python is difficult 5.2
The value of C is pulkit rana

In [ ]:
# A short story about Myself
print("")
name=  "Pulkit Rana 23"
city=  "Chandigarh Sector 15-A"
age=    23
food=  "Mutton"
animal="tiger"
place= "Kangra Himachal Pradesh"
dream= "Data scientiest."
hobby= "Play Cricket."
Language="Python"
print("")
print("Let me tell you a story in brief about myself,")
print("My name is" , name , "and i am " , age ,"years old, and my favourite food which i always love to eat is", food)
print("i live in" , city)
print("But basically I m from" , place,"and the favourite part of my life is to watch and",hobby)
print("Everyday, I spend a few hours learning new tgings in", Language)
print("and my ultimate goal is to become a successfull",dream)
print("")
print("")
print("Thank you for reading a story about me.")

Let me tell you a story in brief about myself,
My name is Pulkit Rana 23 and i am  23 years old, and my favourite food which i always love to eat is Mutton
i live in Chandigarh Sector 15-A
But basically I m from Kangra Himachal Pradesh and the favourite part of my life is to watch and Play Cricket.
Everyday, I spend a few hours learning new tgings in Python
and my ultimate goal is to become a successfull Data scientiest.


Thank you for reading a story about me.

In [ ]:
a=int(input("price of pizza:         "))
print("")
b=int(input("price of burger:        "))
print("")
c=int(input("price of cocacola:      "))
print("")
d=int(input("price of garlic bread:  "))
print("")
e=a+b+c+d
print("")
print("Total amount payble is=",e)
print("")
f=(e/100*10)
print("")
print("Discount Amount="           ,f)
print("Payble amount=   ",e-f)

price of pizza:         500

price of burger:        200

price of cocacola:      300

price of garlic bread:  400


Total amount payble is= 1400


Discount Amount= 140.0
Payble amount=    1260.0

In [ ]:
print(       "INVOICE")
print("")
a=int(input("Chicken wings   :                  "))
b=int(input("Peri-Peri Fries :                  "))
c=int(input("Zingy Parcell   :                  "))
print("")
d=a+b+c
print("Sub Total=                              ",d)
print("")
e=(a/100*10)
print("Discount on Chicken wings   =           ",e)
f=(b/100*15)
print("Discount on Peri-Peri Fries =           ",f)
g=(c/100*12)
print("Discount on Zingy Parcell   =           ",g)
print("")
print("Total Discount           =              ",e+f+g)
h=int(input("Delivery Charges=                        "))
print("")
print("Total amount payble      =              ", d-e-f-g+h)

INVOICE

Chicken wings   :                  500
Peri-Peri Fries :                  400
Zingy Parcell   :                  600

Sub Total=                               1500

Discount on Chicken wings   =            50.0
Discount on Peri-Peri Fries =            60.0
Discount on Zingy Parcell   =            72.0

Total Discount           =               182.0
Delivery Charges=                        80

Total amount payble      =               1398.0

In [22]:
principal=int(input("Principal Amount :                  "))
print("")
rate =int(input("Rate percent per month :            "))
print("")
time=int(input("Total Time in months :              "))
print("")
timeb=int(input("Time in days :                      "))
print("")
year=int(input("Which year="))
print("")
days_month=input("Enter days of month=")
if days_month=="jan" or days_month=="march" or days_month=="may" or days_month=="july" or days_month=="august" or days_month=="october" or days_month=="december":
  Days1=31
elif days_month=="april" or days_month=="june" or days_month=="september" or days_month=="november":
  Days1=30
elif days_month=="february":
  if year%4==0 and year%100!=0 or year%400==0:
    Days1=29
  else:
    Days1=28
si=principal*rate/100*time
simple=principal*rate/100*timeb/Days1
print("Total simple interest=", si+simple)
print("Total anount payble=", principal+si+simple)

Principal Amount :                  20000
Rate percent per month :            4


Total Time in months :              5
Time in days :                      26


Which year=2020

Enter days of month=february
Total simple interest= 4717.241379310345
Total anount payble= 24717.241379310344

In [ ]:
# control flow
Gender=(input("what is your gender="))
age=int(input("Your age="))
if Gender== "male" and age<=30:
  print("hotel a , Block a")
else:
  print("hotel a , block b")
print("")
Gender=(input("What is your gender="))
age=int(input("Your age="))
if Gender=="Female" and age<=35:
  print("hotel b , Block c")
else:
  print("hotel b , Block D")

what is your gender=male
Your age=25
hotel a , Block a

What is your gender=female
Your age=52
hotel b , Block D

In [ ]:
# control flow
Gender=(input("what is your gender="))
if Gender=="male":
 print("Hotel a")
elif Gender=="Female":
  print("hotel b")
else:
  print("invalid")

what is your gender=male
Hotel a

In [ ]:
a=int(input("Number a="))
b=int(input("Number b="))
c=a%b
print("The remainder is=", c)

Number a=24
Number b=5
The remainder is= 4

In [ ]:
number=int(input("The number is="))
if number%7==0 or number%3==0:
  print("Done")
else:
  print("Not done")

The number is=63
Done

In [ ]:
id=input("Email. ID=")
password=input("Password=")
if id=="ranapulkit927@gmail.com" and password=="pulkit123":
  print("Login successfull")
else:
  print("Invalid or incorrect")

Email. ID=ranapulkit927@gmail.com
Password=pulkit123
Login successfull

In [31]:
one=int(input("Number a="))
two=int(input("Number b="))
if one>two:
  print("one is greater than two")
elif one<two:
  print("one is smaller than two")
else:
  print("invalid")

Number a=10
Number b=2
one is greater than two

In [ ]:
a=int(input("Number a="))
b=int(input("Number b="))
c=int(input("Number c="))
if a>b and a>c:
  print("a is greater than b and c")
if b>a and b>c:
  print("b is greater than a and c")
else:
  print("c is greater than both a and b")

Number a=10
Number b=30
Number c=15
b is greater than a and c

In [ ]:
year=int(input("Enter year="))
if (year%4)==0 and (year%100)!=0 or (year%400)==0:
  print("its a leap year")
else:
  print("Non-leap year")

Enter year=2049
Non-leap year

In [37]:
holder=input("Card Holder Name=")
pin=int(input("Enter Pin="))
if holder=="Pulkit Rana" and pin==9090:
  print(10005000)
else:
  print("incorrect")

Card Holder Name=Pulkit Rana
Enter Pin=9090
10005000